/*--------head------------*/

  
 ---------*/
  header {
    background-color: rgba(255, 255, 255, 0.2);
   
  }
 .flexSB{
    display: flex;
 }
 
  header .nav {
    display: flex !important;
    background-color: #b2791e;
    margin-left: 250px;
  }
  header li {
    margin-right: 70px;
    padding:10px;
    size: 10px;
    background-color: rgba(16, 16, 16, 0.2);
  }
 .start {
  background-color: #1eb2a6;
  padding: 30px 70px;
  color: #fff;
  
}
  .social1{
    padding: 80px;
    margin-top: 70px;
    size: 80px;
    margin-left: 150px;
      }
  header ul {
    padding: 30px 20px;
    display: flex;
    margin-right: 150px;
    background-color: rgba(32, 31, 31, 0.2);
 height: 10%;

  }
  header ul li a {
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
  }

  header ul li a:hover {
    color: #b2721e;
  }
  .start {
    background-color: #b2791e;
    padding: 30px 70px;
    height: 2%;
    width: 20%;
    color: #fff;
    
  }

 
  /*--------header------------*/
  @media screen and (max-width: 768px) {
    .start {
      clip-path: none;
    }
    header {
      margin: 0;
      background-color: #b2811e;
      position: relative;
    }
    header ul.flexSB {
      display: none;
    }
    header ul li {
      margin-bottom: 20px;
    }
    .toggle {
      display: block;
      background: none;
      color: #fff;
      font-size: 30px;
      position: absolute;
      right: 0;
      top: -20px;
    }
    .mobile-nav {
      position: absolute;
      top: 7vh;
      left: 0;
      width: 100%;
      background-color: #b27c1e;
    }
  }
  